:root {
    --backgroundClr: rgb(255, 255, 255);
    --loaderClr: #37B74A;
}

#loader_block {
    background: var(--backgroundClr);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 100000;
    transition: opacity 300ms ease-in-out;
}

.loader {
    scale: 2;
    height: 32px;
    width: 32px;
    animation: loader-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

.loader::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: auto;
    margin: auto;
    width: 8px;
    height: 8px;
    background: var(--loaderClr);
    border-radius: 50%;
    animation: loader-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

.loader::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    background: var(--loaderClr);
    border-radius: 50%;
    animation: loader-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

.loader span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 32px;
    width: 32px;
}

.loader span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    background: var(--loaderClr);
    border-radius: 50%;
    animation: loader-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

.loader span::after {
    content: "";
    display: block;
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    background: var(--loaderClr);
    border-radius: 50%;
    animation: loader-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}

@keyframes loader-1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-2 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        transform: translate3d(24px, 0, 0) scale(.5);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes loader-3 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        transform: translate3d(-24px, 0, 0) scale(.5);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes loader-4 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        transform: translate3d(0, 24px, 0) scale(.5);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}

@keyframes loader-5 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        transform: translate3d(0, -24px, 0) scale(.5);
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
    }
}